<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wor.dash.comment.model.mapper.CommentMapper">
    <insert id="insertComment" parameterType="comment">
        INSERT INTO Comment
            (challenge_id, comment_content, comment_author_id, comment_create_date)
        VALUES (#{challengeId}, #{commentContent}, #{commentAuthorId}, now())
    </insert>

    <select id="selectCommentList" resultType="comment">
        SELECT c.comment_id,
               c.challenge_id,
               c.comment_content,
               c.comment_author_id,
               c.comment_create_date,
               u.user_name as commentAuthorName
        FROM Comment c
                 LEFT JOIN User u ON c.comment_author_id = u.user_id
        WHERE c.challenge_id = #{challengeId}
        ORDER BY c.comment_create_date DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="countComments" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM Comment
        WHERE challenge_id = #{challengeId}
    </select>

    <update id="updateComment" parameterType="comment">
        UPDATE Comment
        SET comment_content = #{commentContent}
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteComment" parameterType="int">
        DELETE
        FROM Comment
        WHERE comment_id = #{commentId}
    </delete>
</mapper>