<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wor.dash.password.model.mapper.PasswordMapper">
    <select id="selectAllQuestions" resultType="PasswordQuestion">
        select question_id, question_description
        from Password_Question
    </select>
    <select id="selectQuestionByQuestionId" parameterType="int"
            resultType="PasswordQuestion">
        select question_id, question_description
        from Password_Question
        where question_id = #{questionId}
    </select>
    <select id="selectQnAByUserId" parameterType="int" resultType="PasswordFindQnA">
        select q.question_id,
               q.question_description,
               a.password_answer_id,
               a.user_id,
               a.password_question_answer
        from Password_Question q
                 inner join Password_Answer a on q.question_id = a.question_id
        where a.user_id = #{userId}
    </select>
    <insert id="insertPasswordAnswer"
            parameterType="PasswordAnswer">
        insert into Password_Answer (user_id, question_id, password_question_answer)
        values (#{userId}, #{questionId}, #{passwordQuestionAnswer})
    </insert>
    <update id="updatePasswordAnswer" parameterType="PasswordAnswer">
        update Password_Answer
        <set>
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="passwordQuestionAnswer != null">password_question_answer = #{passwordQuestionAnswer},</if>
        </set>
        where password_answer_id = #{passwordAnswerId} and user_id = #{userId}
    </update>
    <select id="selectUserIdByQnA" parameterType="User">
        select pa.user_id
        from Password_Answer pa
        inner join User u
        on u.user_id = pa.user_id
        where u.user_email = #{userEmail}
        and pa.question_id = #{userPasswordQuestionId}
        and pa.password_question_answer = #{userPasswordAnswer}
    </select>
</mapper>