<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wor.dash.record.model.mapper.RecordMapper">

    <insert id="batchInsertRecords" parameterType="map">
        INSERT INTO Record (
        user_id,
        total_calorie,
        distance,
        max_heart_rate,
        min_heart_rate,
        mean_heart_rate,
        step_count,
        mean_speed,
        max_speed,
        start_time,
        end_time
        ) VALUES
        <foreach collection="batch" item="record" separator=",">
            (
            #{userId},
            #{record.totalCalorie},
            #{record.distance},
            #{record.maxHeartRate},
            #{record.minHeartRate},
            #{record.meanHeartRate},
            #{record.stepCount},
            #{record.meanSpeed},
            #{record.maxSpeed},
            #{record.startTime},
            #{record.endTime}
            )
        </foreach>
    </insert>

    <select id="getCadenceList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            step_count as stepCount,
            TIMESTAMPDIFF(MINUTE, r.start_time, r.end_time) as totalMinutes,
            ROUND(r.step_count / NULLIF(TIMESTAMPDIFF(MINUTE, r.start_time, r.end_time), 0), 2) as cadence,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getCalorieList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            r.total_calorie as totalCalorie,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getDistanceList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            r.distance as distance,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getHeartRateList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            r.min_heart_rate as minHeartRate,
            r.max_heart_rate as maxHeartRate,
            r.mean_heart_rate as meanHeartRate,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getRecordList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            r.total_calorie as totalCalorie,
            r.distance as distance,
            r.max_heart_rate as maxHeartRate,
            r.min_heart_rate as minHeartRate,
            r.mean_heart_rate as meanHeartRate,
            r.step_count as stepCount,
            r.mean_speed as meanSpeed,
            r.max_speed as maxSpeed,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime,
            DATE_FORMAT(r.end_time, '%Y-%m-%d %H:%i:%s') as endTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getSpeedList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            r.max_speed as maxSpeed,
            r.mean_speed as meanSpeed,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getStepList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            r.step_count as stepCount,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>

    <select id="getExerciseTimeList">
        <![CDATA[
        SELECT
            r.record_id as recordId,
            r.user_id as userId,
            DATE_FORMAT(r.start_time, '%Y-%m-%d %H:%i:%s') as startTime,
            DATE_FORMAT(r.end_time, '%Y-%m-%d %H:%i:%s') as endTime,
            TIMESTAMPDIFF(MINUTE, r.start_time, r.end_time) as timeInterval
        FROM Record r
        WHERE r.user_id = #{userId}
          AND r.start_time >= CONCAT(#{startTime}, ' 00:00:00')
          AND r.start_time <= CONCAT(#{endTime}, ' 23:59:59')
        ORDER BY startTime DESC;
        ]]>
    </select>
</mapper>