<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wor.dash.user.model.mapper.UserMapper">

    <sql id="Base_Column_List">
        user_id
        , user_password, user_name, user_email, user_nickname, user_phone_number,
  	user_join_date, user_withdrawal_date, user_withdrawal_status, user_role
    </sql>

    <select id="selectByUserEmail" parameterType="string" resultType="user">
        select
        <include refid="Base_Column_List"/>
        from User
        where user_email = #{userEmail}
    </select>

    <insert id="insertUser" parameterType="user" useGeneratedKeys="true" keyProperty="userId">
        insert into User
        (user_id,
         user_password,
         user_name,
         user_email,
         user_nickname,
         user_phone_number)
        values (#{userId, jdbcType=INTEGER},
                #{userPassword, jdbcType=VARCHAR},
                #{userName, jdbcType=VARCHAR},
                #{userEmail, jdbcType=VARCHAR},
                #{userNickname, jdbcType=VARCHAR},
                #{userPhoneNumber, jdbcType=VARCHAR})
    </insert>

    <select id="selectWithoutPassword" parameterType="string" resultType="user">
        select user_id,
               user_name,
               user_email,
               user_nickname,
               user_phone_number,
               user_join_date,
               user_withdrawal_date,
               user_withdrawal_status,
               user_role
        from User
        where user_email = #{userEmail}
    </select>

    <update id="updateUserRole" parameterType="int">
        UPDATE User
        SET user_role = 'ADMIN'
        WHERE user_id = #{userId}
    </update>
</mapper>